body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-link {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease; /* Animasyon için geçiş efekti */
}

.logo-link:hover {
    transform: scale(1.1); /* Üzerine gelindiğinde boyutunu büyütme */
}

.logo {
    width: 100px; /* Logoların varsayılan genişliği */
    height: auto; /* Yükseklik otomatik olarak ayarlanır */
}
