/* Hamburger Menü Stilleri */
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999; /* Diğer içeriğin üstünde olması için */
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

/* Hamburger Menü Açık Durumu */
.menu-toggle.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(0, 5px);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(0, -5px);
}
